.commentButton {
    height: 30px;
    margin-top: 20px;
    background-color: #ff621e;
    border: 2px solid #ff621e;
    border-radius: 0.5em;
    color: white;
    font-size: 12pt;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
