.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "line1 devs"
    "line2 devs";
    background-color: rgb(148, 218, 176);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    z-index: 1000;
    float: bottom
}

.line1,
.line2 {
    margin: auto 0;
}
.devContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-area: devs;
    margin-left: auto;
    background-color: black;
    row-gap: 2px;
    column-gap: 1px;

}
.dev {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(148, 218, 176);
}

.dev >  * {
    margin: 0 10px;
}
