.table {
    margin: 0px 10px 20px 10px;
    border-radius: 1em;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.2),
        -10px 0 10px -5px rgba(0, 0, 0, 0.2),
        10px 0 10px -5px rgba(0, 0, 0, 0.2),
        -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}

.cell {
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
}

.c {
    font-family: 'Lato', sans-serif;
    font-size: 8pt;
    padding: 10px;
}

.cAmount {
    color: red;
}
