.landingPage {
    height: 100vh;
    margin-bottom: 50px;
}

.landingIconsC {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
}

.landingTopRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingContainerTop,
.landingContainerMid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.landingContainerMidRight {
    padding: 25px;
    margin-bottom: 125px;
    text-align: center;
    background-color: rgba(37, 182, 142, 0.8);
}

.landingContainerMidLeft {
    margin-bottom: 125px;
    text-align: center;
    padding: 25px;
    background-color: rgba(48, 51, 55, 0.8);
}

@keyframes landingImage0 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes landingImage1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 10;
    }
    80% {
        opacity: 10;
    }
    100% {
        opacity: 0;
    }
}
@keyframes landingImage2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}
@keyframes landingImage3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}

.image0 {
    height: 400px;
    width: 400px;
    animation-name: landingImage0;
    animation-duration: 4000ms;
}
.image1 {
    height: 400px;
    width: 400px;
    animation-name: landingImage1;
    animation-duration: 4000ms;
}
.image2 {
    height: 400px;
    width: 400px;
    animation-name: landingImage2;
    animation-duration: 4000ms;
}
.image3 {
    height: 400px;
    width: 400px;
    animation-name: landingImage3;
    animation-duration: 4000ms;
}

@keyframes housemates {
    0% {
        color: white;
    }
    50% {
        color: rgba(133, 129, 219, 0.9);
    }
    80% {
        color: rgba(133, 129, 219, 0.9);
    }
    100% {
        color: white;
    }
}

.housemates {
    animation-name: housemates;
    animation-duration: 4000ms;
}

@keyframes plane {
    0% {
        color: white;
    }
    50% {
        color: rgba(112, 177, 116, 0.7);
    }
    80% {
        color: rgba(112, 177, 116, 0.7);
    }
    100% {
        color: white;
    }
}

.plane {
    animation-name: plane;
    animation-duration: 4000ms;
}

@keyframes partner {
    0% {
        color: white;
    }
    50% {
        color: rgba(247, 106, 108, 0.8);
    }
    80% {
        color: rgba(247, 106, 108, 0.8);
    }
    100% {
        color: white;
    }
}

.partner {
    animation-name: partner;
    animation-duration: 4000ms;
}

@keyframes anyone {
    0% {
        color: white;
    }
    50% {
        color: rgb(194, 195, 196);
    }
    80% {
        color: rgb(194, 195, 196);
    }
    100% {
        color: white;
    }
}

.anyone {
    animation-name: anyone;
    animation-duration: 4000ms;
}

@keyframes greens {
    0% {
        background-color: white;
        box-shadow: none;
    }
    50% {
        background-color: rgba(112, 177, 116, 0.7);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    80% {
        background-color: rgba(112, 177, 116, 0.7);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

.landingSignupButton.green {
    animation-name: greens;
    animation-duration: 4000ms;
}

@keyframes purples {
    0% {
        background-color: white;
        box-shadow: none;
    }
    50% {
        background-color: rgba(133, 129, 219, 0.9);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    80% {
        background-color: rgba(133, 129, 219, 0.9);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

.landingSignupButton.purple {
    animation-name: purples;
    animation-duration: 4000ms;
}

@keyframes reds {
    0% {
        background-color: white;
        box-shadow: none;
    }
    50% {
        background-color: rgba(247, 106, 108, 0.8);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    80% {
        background-color: rgba(247, 106, 108, 0.8);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

.landingSignupButton.red {
    animation-name: reds;
    animation-duration: 4000ms;
}

@keyframes greys {
    0% {
        background-color: white;
        box-shadow: none;
    }
    50% {
        background-color: rgb(194, 195, 196);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    80% {
        background-color: rgb(194, 195, 196);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

.landingSignupButton.grey {
    animation-name: greys;
    animation-duration: 4000ms;
}

.landingSignupButton {
    color: white;
    border: none;
    background-color: white;
    font-size: 14pt;
    font-weight: bold;
    height: 60px;
    width: 200px;
    border-radius: 7px;
}

.expensesImage {
    margin: 50px;
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.featuresTitle {
    color: white;
    font-size: 20pt;
    margin: 35px 0 15px 0;
}

.landingIcon {
    height: 50px;
    margin: 15px;
    opacity: 0.6;
}

.landingContainerMidLeft,
.landingContainerMidRight {
    width: 50%;
}

.landingTopLeft,
.landingTopRight {
    margin: 50px 5px 50px 5px;
    width: 450px;
}

.landingTitleC {
    font-size: 42pt;
    margin: 75px 0 0 0;
}

.landingExplanationC {
    margin: 30px 0 30px 0;
}

.landingExplanationC p {
    font-size: 16pt;
    color: black;
}

.landingTextCarouselC p {
    font-size: 42pt;
}

.landingTitleC p {
    color: black;
}
