.groupContainer {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.2),
        -10px 0 10px -5px rgba(0, 0, 0, 0.2),
        10px 0 10px -5px rgba(0, 0, 0, 0.2),
        -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}

.groupMemberTitle {
    font-size: 18pt;
    text-align: right;
    margin: 5px 25px 5px 0;
    color: rgb(54, 54, 54);
}

.usersInGroup {
    font-size: 10pt;
    text-align: right;
    margin: 10px 35px 5px 0;
    color: rgb(54, 54, 54);
}

.imageTitle {
    display: flex;
    flex-direction: row;
}

.viewExpenseButton {
    height: 30px;
    margin-top: 10px;
    background-color: rgb(255, 98, 30);
    border: 2px solid #ff621e;
    border-radius: 0.5em;
    color: white;
    font-size: 12pt;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.expSelector {
    height: 30px;
    border-radius: 0.5em;

    font-size: 12pt;
}
.createExpButton {
    height: 30px;
    margin-top: 10px;
    background-color: #ff621e;
    border: 2px solid #ff621e;
    border-radius: 0.5em;
    color: white;
    font-size: 12pt;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.transButton {
    margin: 5px;
    height: 40px;
    width: 300px;
    background-color: rgba(162, 216, 179, 0.5);
    border: none;
    border-radius: 0.5em;
    color: rgb(148, 148, 148);
    font-size: 12pt;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.groupDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.groupName {
    font-size: 24pt;
    padding-top: 20px;
}

.groupForm {
    display: flex;
}

.gForm {
    margin-left: 10px;
}

.gFormInput {
    padding: 15px;
    border: none;
    width: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 0.5em;
    height: 30px;
    background-color: rgb(252, 237, 215);
}

.fa-plus {
    color: rgb(162, 216, 179);
    font-size: 20pt;
}

.gFormIcon {
    margin-top: 3px;
}

.groupImage {
    position: relative;
    height: 80px;
    width: 80px;
}

.nameTypeContainer,
.topRightContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.groupType {
    color: black;
}

.groupTypeContainer {
    margin-top: 25px;
}

.expenseDetails {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.expenseLabel {
    border-top: 1.5px solid rgb(162, 216, 179);
}

.expense {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.expenseSelectorContainer,
.expenseLabel {
    padding: 10px;
}

.expModal,
.createExpModal,
.groupModal {
    z-index: 1000;
    border: none;
    width: 700px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(233, 252, 239, 0.9);
    color: black;
    border-radius: 2em;
    padding: 50px;
    font-family: 'Lato', sans-serif;
}

.transactionButtonContainer {
    border-top: 1.5px solid rgb(162, 216, 179);
    padding: 10px;
    text-align: center;
}

.xButton {
    margin-bottom: 40px;
    margin-left: 525px;
    background-color: rgb(255, 98, 30);
    border: 2px solid #ff621e;
    border-radius: 0.5em;
    color: white;
    font-size: 12pt;
    z-index: 1000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.transactionContainer {
    display: flex;
    flex-direction: column;
}
