.dashboard-container {
    display: flex;
    flex-direction: row;
}

.left-dash {
    width: 25%;
}

.center-dash {
    padding: 15px;
    width: 50%;
    border-radius: 1em;
    box-shadow: 0 5px 0px 0px white, 0 -5px 0px 0px white,
        20px 0 15px -5px rgba(0, 0, 0, 0.3),
        -20px 0 15px -5px rgba(0, 0, 0, 0.3);
}

.right-dash {
    width: 25%;
}
