.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    /* background-color: rgb(125, 185, 149); */
    background-color: rgba(69, 188, 148, 0.9);
    width: 100%;
    font-family: 'Lato', sans-serif;
    height: 50px;
    padding: 5px;
}

a {
    font-size: 16pt;
    color: white;

    text-decoration: none;
}

.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile_button {
    margin: 10px;
}

.demoUser {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 10px 50px 10px 50px;
}

img {
    height: 35px;
    margin: 0px 10px;
}

.addGroup,
.logoutButton,
.logins,
.signups {
    cursor: pointer;
    color: white;
    margin: 10px 50px 10px 50px;
}

.slash {
    color: white;
    margin: 0px 50px 10px 50px;
    font-size: 24pt;
}

.createNew {
    color: white;
    font-size: 16pt;
}
