
.container__navbar {
    /* background-color: rgb(125, 185, 149); */
    background-color: rgb(148, 218, 176);

    width: 100%;
    font-size: larger;
    height: 50px
  }

  .container__navbar a:hover {
    color: black;
    position: sticky;
    background-color: rgb(148, 218, 176);
  }

  .container__navbar a {
    color: #ffffff;
    margin-right: 20px;
  }

  .navbar__links {
        display:flex;
        flex-direction: row;
        padding: 8px 5px;
        height: 10%;
  }

   img {
    height: 35px;
    margin: 0px 10px
  }

  .anchor {
    height: 100px
  }

  .anchor:hover{
    height: 1px
  }

  .dropdown {
    color: yellow
  }
